%h1 Editing project

= render 'form' 
= link_to 'Show', @project  |
= link_to 'Back', projects_path 
= link_to 'Delete Project', @project, method: :delete, data: {confirm: 'Are you sure you want to delete this project?'}


