.row
  %h1.text-center Listing projects
  - @projects.each do |project|
    %tr
      %h3= link_to project.name, project
      %td= project.due_date_at.strftime("%e %B %Y")
      %br/
      / %td= project.user.name
      %td= project.description
  %br/
  <hr>
  = link_to 'New Project', new_project_path
